.cartMainBox-orderDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartHeadNames-orderDetail {
    display: flex;
    width: 900px;
}

.page-dir-orderDetail {
    font-weight: 500;
}

.mainMyCArtt-orderDetail {
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    margin-bottom: 0px;
    margin-bottom: 10px;
    border: 1.5px solid #dcdcdc;
    padding: 50px;
}

.HeadingOfMyCartog-orderDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 2px 10px 1px;
    margin: 16px 0px 0px 0px;
    width: 100%;
}

.MycartLeftHeading-orderDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-left: 23px;
}

.productSectionOfmyCart-orderDetail {
    width: 100%;
    margin: 0px 0px;
}

.productsArrayMyArt-orderDetail {
    display: flex;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #c7d2c8;
}

.imgInMyCartOfproduct-orderDetail {
    height: 85px;
    width: 70px;
    border: 1px solid #c7d2c8;
    margin: 10px;
    margin-top: 12.1px;
}

.productrightcontntmtcrt-orderDetail {
    margin-left: 20px;
    width: 100%;
    cursor: pointer;
}

.titleMyproductcrt-orderDetail {
    margin-top: 5px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price111cart-orderDetail {
    font-size: 15px;
}

.buttonOperationsMycrt-orderDetail {
    display: flex;
    height: 26px;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    width: 30%;
}

.mainMyCArtt-orderDetail {
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    margin-bottom: 0px;
    margin-bottom: 10px;
    border: 1.5px solid #f0e9e9;
    padding: 50px;
}

.HeadingOfMyCartog-orderDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e9e9;
    padding: 10px 2px 10px 1px;
    margin: 16px 0px 0px 0px;
    width: 100%;
}

.MycartLeftHeading-orderDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-left: 23px;
}

.cart_add_and_remove-orderDetail {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    padding: 0;
    margin-top: 5px;
}

.cart_count-orderDetail {
    font-size: 10px;
}

.order-new {
    height: 10px;
    font-size: 10px;
    display: flex;
}

.author-orderDetail {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 15px;
    font-weight: 300;
}

.cart_place-orderDetail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}



.cart_place-orderDetail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}