.product_cart {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f6f5ea;
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 40px 12%;
    padding-top: 20px;
    padding-right: 25%;
    overflow: auto;
}

.cart>* {
    padding-bottom: 30px;
    border: 1px solid #DCDCDC;
}

.cart_item {
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
    flex-wrap: wrap;
    align-items: stretch;
}

.cart_item_details {
    display: flex;
}

.cart_item_desc {
    margin-left: 20px;
}

.cart_item_desc>* {
    margin-bottom: 10px;
}

.cart_item_heading {
    text-align: left;
    font: normal normal normal 18px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-weight: 600;
}

.cart_item_author {
    font: normal normal normal 12px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.cart_item_price>*:not(:last-child) {
    margin-right: 5px
}

.cart_item_discount_price {
    text-decoration: line-through;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.cart_add_or_remove {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 15px;
}

.cart_add_or_remove>*:not(:last-child) {
    margin-right: 5px;
}

.cart_add,
.cart_remove {
    width: 2rem;
    border: 2px solid #76b029;
    border-radius: 25%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cart_count {
    font-size: 17px;
    color: black;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #76b029;
    height: 100%;
    border-radius: 8px;
}

.cart_place {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.cart_place_order {
    padding: 8px 20px;
    background-color: #ecb56e;
    border: none;
    border-radius: 2px;
    color: white;
    border-radius: 10px;
}

.cart_remove_all {
    padding-left: 20px;
    font-size: 20px;
}

.cart_remove_all:hover {
    color: #76b029;
}

.cart_Heading {
    margin-left: 4%;
    margin-top: 1%;
}

.cart_Heading_inner {
    margin-top: 1%;
}

@media screen and (max-width:900px) {
    .cart {
        padding: 20px;
    }
}

@media screen and (max-width:600px) {
    .cart_item_heading {
        font-size: .8rem;
    }
}