.catagories {
    display: flex;
    align-items: center;
    padding: 10px 2% 0px 2%;
    justify-content: space-between;
    margin-bottom: 1rem;
    box-shadow: rgb(179, 177, 177) ;
    border: 2px solid #f0e9e9;
    position:fixed;
    width: 100%;
    left:0;
    background-color:white;
    cursor: pointer;
    font-size: .8rem;
    flex-wrap: wrap;
    z-index: 100;
}

.catagory {
    margin-right: 10px;
    margin-bottom: 10px;
}

.selected_category{
    border-bottom: 2px solid #ecb56e;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .catagory{
        font-size: .6rem;
    }

    .catagories {
        justify-content: start;
    }
}

