.catagories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    margin-bottom: 1rem;
    box-shadow: rgb(179, 177, 177) ;
    border: 2px solid #f0e9e9;
    position:sticky;
    color: #76b029;
    left:0;
    background-color:white;
    cursor: pointer;
    font-size: .8rem;
}

.catagory {
    color: #76b029;
}

@media screen and (max-width: 600px) {
    .catagory{
        font-size: .6rem;
    }
}

