.main-placed {
    margin-top: 100px;
    margin-left: 470px;
}

.shopping {
    margin-top: 5px;
}

/* background-color: #3371B5; */

.table-container {
    margin: 0 auto;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px #dcdcdc solid;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ddd;
}

.checkout-table-heading th {
    text-align: center;
}

.checkout-table-row td {
    width: 30%;
    text-align: center;
}